/* Color classes */
.color-1 {
    background-color: #003f5c;
}

.color-2 {
    background-color: #005276;
}

.color-3 {
    background-color: #00723a;
}

.color-4 {
    background-color: #0073a8;
}

.color-5 {
    background-color: #0077d9;
}

.color-6 {
    background-color: #007ab8;
}

.color-7 {
    background-color: #007cb6;
}

.color-8 {
    background-color: #00ade3;
}

.color-9 {
    background-color: #00b9f2;
}

.color-10 {
    background-color: #02668e;
}

.color-11 {
    background-color: #08161e;
}

.color-12 {
    background-color: #0ea6c9;
}

.color-13 {
    background-color: #0ec3f3;
}

.color-14 {
    background-color: #0f2c3d;
}

.color-15 {
    background-color: #111111;
}

.color-16 {
    background-color: #154460;
}

.color-17 {
    background-color: #1768c9;
}

.color-18 {
    background-color: #1a87bf;
}

.color-19 {
    background-color: #1d2834;
}

.color-20 {
    background-color: #1d71b8;
}

.color-21 {
    background-color: #222222;
}

.color-22 {
    background-color: #232f3e;
}

.color-23 {
    background-color: #26c9f4;
}

.color-24 {
    background-color: #274150;
}

.color-25 {
    background-color: #28547f;
}

.color-26 {
    background-color: #2d609b;
}

.color-27 {
    background-color: #333333;
}

.color-28 {
    background-color: #35485f;
}

.color-29 {
    background-color: #4270a5;
}

.color-30 {
    background-color: #494f5a;
}

.color-31 {
    background-color: #555555;
}

.color-32 {
    background-color: #56616c;
}

.color-33 {
    background-color: #666666;
}

.color-34 {
    background-color: #767676;
}

.color-35 {
    background-color: #af1c1c;
}

.color-36 {
    background-color: #b84600;
}

.color-37 {
    background-color: #bababa;
}

.color-38 {
    background-color: #c05719;
}

.color-39 {
    background-color: #c2c7d0;
}

.color-40 {
    background-color: #c43353;
}

.color-41 {
    background-color: #cccccc;
}

.color-42 {
    background-color: #d37902;
}

.color-43 {
    background-color: #dddddd;
}

.color-44 {
    background-color: #e4405f;
}

.color-45 {
    background-color: #e6536f;
}

.color-46 {
    background-color: #e6e6e6;
}

.color-47 {
    background-color: #e8e8e8;
}

.color-48 {
    background-color: #eaedf2;
}

.color-49 {
    background-color: #ebf5fd;
}

.color-50 {
    background-color: #ededed;
}

.color-51 {
    background-color: #edeff2;
}

.color-52 {
    background-color: #f09000;
}

.color-53 {
    background-color: #f0e6f8;
}

.color-54 {
    background-color: #f3f3f3;
}

.color-55 {
    background-color: #f9f5d5;
}

.color-56 {
    background-color: #feedba;
}

.color-57 {
    background-color: #ff9900;
}

.color-58 {
    background-color: #fff;
}

.color-59 {
    background-color: #ffffff;
}
