/* =============================================
=            Generic styling                  =
============================================= */

:root {
  --main-bg: #232f3e;
  --darker-bg: #1d2834;
  --section-bg: #fff;
  --light-bg: #F0F0F2;
  --txt-in-dark-bg: #fff;
  --mid-light-bg: #6B7583;
  --tooltip-bg: rgba(255, 255, 255, 1);
  --highlighted-bg: #efedef;

  --light-border: #F0F0F2;
  --highlight-border: #f09000;
  --mid-border: #333;
  --section-divider: #0073A8;
  --shadow-border: #6B7583;
  --tooltip-border: #6B7583;
  --item-highlight-border: #333;

  --txt: #000;
  --mid-txt: #333;
  --light-txt: #6B7583;
  --tooltip-txt: #0073A8;
  --item-highlight-txt: #005276;
  --output-txt: #333;
  --required-txt: #f09000;

  --link: #0073A8;
  --link-hover: #f09000;

  --blue-shadow: #005276;
  --highlights: #f09000;
  --dark-blue: #1d2834;

  --output-font: "Courier New", Courier, monospace;

}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  padding: 1rem;
  /*   1 rem = 10px */
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--txt-in-dark-bg);
  background-color: var(--main-bg);
  overflow-x: hidden;
}

label {
  display: block;
  margin-bottom: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: .2rem;
}

hr {
  display: block;
  margin: 2rem 0;
  border: 0;
  border-bottom: .2rem solid var(--light-bg);
  height: .1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

a,
a:visited {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;

}

a:focus,
a:hover {
  text-decoration: none;
  font-weight: 600;
  color: var(--link-hover);
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.4rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.8rem;
}

h5,
.h5 {
  font-size: 1.6rem;
}

h6,
.h6 {
  font-size: 1.5rem;
}

label+p {
  margin-top: -.5rem;
}

.header_grid {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem;
  margin: .5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: max-content;
  grid-template-areas:
    "title  sub";
  grid-auto-rows: minmax(2rem, auto);

}

#alerts_title_top {
  grid-area: title;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: .2rem;
  text-align: left;
}

#alerts_sub_top {
  grid-area: sub;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .5rem;
  text-align: right;
  color: var(--light-txt);
}

#alerts_sub_top a,
#alerts_sub_top a:visited {
  text-decoration: none;
  cursor: pointer;
  color: var(--light-txt);
}

#alerts_sub_top a:hover,
#alerts_sub_top a:focus {
  color: var(--link-hover);
}

.form-control {
  display: block;
  width: 100%;
  color: var(--txt);
  background-color: var(--section-bg);
  padding: 1rem;
  border: .1rem solid var(--light-border);
  border-radius: .2rem;
  -webkit-appearance: none;
  appearance: none;
  margin: .5rem;
}

.container {
  display: block;
  margin: auto;
  max-width: 90rem;
  padding: .5rem 3rem 3rem 3rem;
  margin: .5rem;
  box-sizing: border-box;
}

@media (max-width: 50rem) {
  .container {
    padding: 1rem;
  }
}

.section-search {
  width: 100%;
  padding: .1rem 0 0 0;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--light-txt);
}

.section-search .choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: var(--section-bg);
  margin: 0 0 0 0;
  border-color: var(--highlight-border);
  border-style: solid;
  align-items: center;
  border-width: .1rem .1rem 1rem .1rem;
  min-height: 4rem;
  border-radius: 1rem;
  margin: .3rem 1rem 1rem 1rem;
  padding: 1rem .2rem .2rem 1rem;
  overflow: hidden;
}

.section-search .is-focused .choices__inner,
.section-search .is-open .choices__inner {
  border-color: var(--highlight-border);
}

.section-search .choices__input {
  width: 100%;
}

#search-bar {
  display: block;
  width: 100%;
  background-color: var(--section-bg);
  color: var(--txt);
  padding: 0;
  font-size: 1.4rem;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: text;
}

.section-search .tooltip {
  visibility: hidden;
  display: inline;
  width: 100%;
  padding: 0 0 .2rem 0;
  position: relative;
  z-index: auto;
  opacity: 0;
}

.section-search .tooltip p {
  width: 100%;
  visibility: hidden;
  width: fit-content;
  margin: 0 1rem .3rem 1rem;
  color: var(--tooltip-txt);
  border: .1rem solid var(--tooltip-border);
  border-radius: .2rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 0 .1rem 0;
  background-color: var(--tooltip-bg);
  text-align: center;
  transition: opacity .4s;
}

.section-search:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.section-search:hover .tooltip p {
  visibility: visible;
}

.section {
  background-color: var(--section-bg);
  color: var(--txt);
  width: 100%;
  margin: 3rem 1rem 3rem 1rem;
  padding: 1rem 2rem 1rem 2rem;
  border: .2rem solid var(--highlight-border);
  border-radius: .4rem;
  box-sizing: border-box;
}

.section a {
  color: var(--link)
}

.section a:hover,
.section a:focus {
  color: var(--link-hover);
}

.section h3 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: .5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: var(--mid-txt);
  text-align: center;
  border-bottom: .25rem solid var(--section-divider);
}

.section h4 {
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: .3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--light-txt);
  text-align: left;
  text-anchor: end;
}

#alerts_grid .required {
  color: var(--required-txt);
  font-weight: 600;
}

#filter-grid {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem;
  margin: .5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-areas:
    "ftitle  ftitle  ftitle  ftitle"
    "chars   chars   chars   chars"
    "buscats buscats jobcats jobcats"
    "cattype cattype jobtype roletype"
    "loc     loc     loc     loc"
    "country state   state   city"
    "alerts  alerts  alerts  alerts"
    "freq    email   email    lang"
    " .      .       reset   submit";
  grid-auto-rows: minmax(2rem, auto);
}

#filters_grid {
  grid-area: ftitle;
  padding: .5rem 2rem 0 2rem;
}

#characteristics_grid {
  grid-area: chars;
  align-self: left;
}

#business_category_grid {
  grid-area: buscats;
}

#category_grid {
  grid-area: jobcats;
}

#category_type_grid {
  grid-area: cattype;
  ;
}

#job_type_grid {
  grid-area: jobtype;
}

#is_manager_grid {
  grid-area: roletype;
}

#locations_grid {
  grid-area: loc;
  align-self: left;
}

#country_grid {
  grid-area: country;
}

#state_grid {
  grid-area: state;
}

#city_grid {
  grid-area: city;
}

#alerts_grid {
  grid-area: alerts;
}

#alerts_grid .required {
  color: var(--required-txt);
  font-weight: 600;
}

#alert_frequency_grid {
  grid-area: freq;
}

#youremail_grid {
  grid-area: email;
}

#lang_code_grid {
  grid-area: lang;
}

#reset_button_grid {
  grid-area: reset;
  text-align: right;
}

#submit_button_grid {
  grid-area: submit;
  background-color: teal;
  text-align: right;
}

#btn-delete {
  background-color: transparent;
  align-self: right;
  border: none;
  color: var(--tooltip-txt);
  font-size: 1.6rem;
  cursor: pointer;
}

#btn-delete:hover, #btn-delete:focus {
  color: var(--link-hover);
  font-weight: 500;
}

#btn-submit {
  background-color: var(--link);
  color: var(--txt-in-dark-bg);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  border: .1rem solid var(--blue-shadow);
  border-radius: .8rem;
  cursor: pointer;
}

#btn-submit:hover, #btn-submit:focus {
  background-color: var(--blue-shadow);
  color: var(--link-hover);
}

#outputsection {
  width: 100%;
  margin: 3rem 1rem 3rem 1rem;
  padding: 1rem;
  border-radius: .5rem;
  box-sizing: border-box;
}

#jsonOutput {
  width: 100%;
  align-self: center;
  background-color: var(--section-bg);
  color: var(--output-txt);
  font-family: var(--output-font);
  border: .1rem solid var(--light-border);
  border-radius: .2rem;
  -webkit-appearance: none;
  appearance: none;
  margin: .5rem;
}

#copyButton {
  background-color: var(--link);
  color: var(--txt-in-dark-bg);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  border: .1rem solid var(--blue-shadow);
  border-radius: .8rem;
  cursor: pointer;
  }

#copyButton:hover, #copyButton:focus {
  background-color: var(--blue-shadow);
  color: var(--link-hover);
}

#saveButton {
  background-color: var(--link);
  color: var(--txt-in-dark-bg);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  border: .1rem solid var(--blue-shadow);
  border-radius: .8rem;
  cursor: pointer;
}

#saveButton:hover, #saveButton:focus {
  background-color: var(--blue-shadow);
  color: var(--link-hover);
}

.visible-ie {
  display: none;
}

.push-bottom {
  margin-bottom: 2.4rem;
}

.zero-bottom {
  margin-bottom: 0;
}

.zero-top {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

[data-test-hook] {
  margin-bottom: 2.4rem;
}

/* =====  End of Section comment block  ====== */

/* ===============================
=            Choices            =
=============================== */
.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: var(--mid-light-bg);
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: .75rem;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom: .1rem solid var(--light-border);
  background-color: var(--section-bg);
  margin: 0;
}

.choices[data-type*=select-one] .choices__button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  padding: 0;
  background-size: .8rem;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1rem;
  margin-right: 2.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: .5rem;
  opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:hover,
.choices[data-type*=select-one] .choices__button:focus {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 .2rem var(--shadow-border);
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: var(--mid-border) transparent transparent transparent;
  border-width: .5rem;
  position: absolute;
  right: 11..5rem;
  top: 50%;
  margin-top: -2..5rem;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent var(--mid-border) transparent;
  margin-top: -.75rem;
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: .115rem;
  right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 2.5rem;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: -.4rem;
  margin-bottom: 0;
  margin-left: .8rem;
  padding-left: 1.6rem;
  border-left: .1rem solid var(--section-divider);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  background-size: .8rem;
  width: .8rem;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: var(--section-bg);
  padding: .75rem .75rem .375rem;
  border: .1rem solid var(--shadow-border);
  border-radius: .25rem;
  font-size: 1.4rem;
  min-height: 4.4rem;
  overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--shadow-border);
}

.is-open .choices__inner {
  border-radius: .25rem .25rem 0 0;
}

.is-flipped.is-open .choices__inner {
  border-radius: 0 0 .25rem .25rem;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: .4rem 1.6rem .4rem .4rem;
  width: 100%;
}

[dir=rtl] .choices__list--single {
  padding-right: .4rem;
  padding-left: 1.6rem;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2rem;
  padding: .4rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: .375rem;
  margin-bottom: .375rem;
  background-color: var(--section-divider);
  border: .1rem solid var(--blue-shadow);
  color: var(--section-bg);
  word-break: break-all;
  box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: .5rem;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: .375rem;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: var(--blue-shadow);
  border: .1rem solid var(--section-divider);
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: var(--section-bg);
  border: .1rem solid var(--light-border);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: var(--section-bg);
  border: .1rem solid var(--light-border);
  top: 100%;
  margin-top: -1rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: var(--shadow-border);
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -.1rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 30rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 1rem;
  font-size: 1.4rem;
}

[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

@media (min-width: 64rem) {

  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 2rem;
  }

  .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 1.2rem;
    opacity: 0;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 10rem;
    padding-right: 1rem;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 1rem;
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--highlighted-bg);
  color: var(--item-highlight-txt);
  font-weight: 400;
  border: .1rem solid var(--item-highlight-border);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: .1rem solid var(--light-border);
  color: var(--light-txt);
}

.choices__button {
  text-indent: -999rem;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus {
  outline: none;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: var(--section-bg);
  font-size: 1.4rem;
  margin-bottom: .5rem;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: .4rem 0 .4rem .2rem;
}

.choices__input:focus {
  outline: 0;
}

.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
  display: none;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[dir=rtl] .choices__input {
  padding-right: .2rem;
  padding-left: 0;
}

.choices__placeholder {
  opacity: 0.5;
}

/* =====  End of Choices  ====== */
